In [ ]:
Q.no.1 How do you comment code in python? What are the different types of comments?
Sol:- we can start commenting a code with Hash(#) only to explain python code,make the code more readable and can be used to prevent execution when testing code.
there are three different kinds of comments used in python namely:-
    1. single-line:- The comment continues after the "hash"# untill the end of the line.
    2. multi-line:- it is used for large text descriptions of code or to comment out chunks of code while debugging applications. In python it begins with either three single quotes or three double quotes.
    3. docstring

In [ ]:
Q.no.2 What are the variables in python ? How do you declare and assign value to variables?
Sol:-It is a symbolic name that is a reference to an object.there are 3 variables used in python namely Name,Number and sequence.

In [3]:
 a=[3]

In [4]:
a # here a is variable in which we assign its value 3. so whenever we call a it gives 3

[3]

In [ ]:
Q.no.3 How do you convert one data type to another in python?
Sol:-The data type is manually change by user as per their requirment.it is also called typecasting.in python various function used for typecating
i.e int(),str(),float(), list[],tuple(),set{} etc....

In [2]:
a=7

In [3]:
a # here value of a is integer 7

7

In [4]:
str(a) # value of a is changed from integer 7 to string "7" with the help of str() fun

'7'

In [ ]:
Q.no.4:- How do you write and execute a python script from the command line?
Sol:- we can write the python script on jupyter notebook by launching My lab portal. we can execute python script by pressing ctrl+enter or Shift enter.

In [ ]:
Q.no.5:- Given a list My_list=[1,2,3,4,5] ,write a code to slice a list and obtain the sub-list[2,3].

In [1]:
s=[1,2,3,4,5]

In [3]:
s[1:3]

[2, 3]

In [ ]:
# slicing always work on upperlimit-1

In [ ]:
Q. no.6:- What is a complex number in mathematics ? how it is represented in python?
Sol:- Complex number is part of number system which consist of real as well as imaginary part and is denoted by Z= A+Bi, where A is its Real part and B is called imaginary part.
      In python it is represented same as in mathematics except i is replaced by j only. so in python a complex number Z is represented as 
      Z= A+Bj. it can be separated by using (complex number's variable name ).tab button.

In [4]:
a=9+3j

In [7]:
a.real, a.imag

(9.0, 3.0)

In [ ]:
Q. no.7:- What is the correct way to decleare a variable named age and assign the value 25 to it?
Sol:- we just need to write the variable name (age here) and then assignment operater = and finally write the desired value to it.

In [8]:
age=25

In [9]:
age

25

In [ ]:
Q.no.8:- Decleare a variable named price and assign the value 9.99 to it. What datatype does this variable belongs to??
Sol:- To get the data type of any variable we just need to write type() function and write the variable name inside the brackets and press ctrl+enter.

In [16]:
price=9.99

In [17]:
price

9.99

In [18]:
type(price) # so price variable belongs to Float data type.

float

In [ ]:
Q.no.9:-Create a variable named name and assign your full name to it as a string .How would you print the value of this variable?
Sol:- To assign a value as string datatype value should be in single/double quotes otherwise invalid syntax error occurance happens.

In [26]:
name=Om prakash

SyntaxError: invalid syntax (3993640051.py, line 1)

In [27]:
Name="Om prakash"

In [29]:
Name

'Om prakash'

In [ ]:
Q.no.10:- Given the string "Hello World",extract the substring "World".

In [37]:
string="Hello,World"

In [47]:
print(string[6:])

World

In [ ]:
Q.No.11:- Create the variable named "Is_student" and assign it to a boolean value indicating whether you are currently a student or not?

In [54]:
Is_student=bool(1)

if Is_student==1:
    print("Student")
else:
    print("Not Student")

Student